<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :DOB %><br>
    <%= f.number_field :DOB %>
  </div>
  <div class="field">
    <%= f.label :Hire_Date %><br>
    <%= f.number_field :Hire_Date %>
  </div>
  <div class="field">
    <%= f.label :Telephone %><br>
    <%= f.number_field :Telephone %>
  </div>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.text_area :Address %>
  </div>
  <div class="field">
    <%= f.label :Details %><br>
    <%= f.text_area :Details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
